MyFirstDjangoProject/db.sqlite3
MyFirstDjangoProject/.idea/**
MyFirstDjangoProject/.vscode/**
MyFirstDjangoProject/venv

MyFirstDjangoProject/MyFirstDjangoProject/__pycache__/**

MyFirstDjangoProject/user/migrations/**
MyFirstDjangoProject/user/__pycache__/**

MyFirstDjangoProject/model/__pycache__/**
MyFirstDjangoProject/user/models/__pycache__/**